@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
 --color-scheme: light;
 --color-skin-fill: var(--color-bg-main);
 --color-skin-text: var(--color-text-main);
 --color-skin-header: var(--color-bg-header);
 --color-skin-header-accent: var(--color-bg-header-accent);
 --color-skin-header-border: var(--color-bg-header-border);
 --color-skin-sidebar: var(--color-bg-sidebar);
 --color-skin-sidebar-header: var(--color-bg-sidebar-header);
 --color-skin-item-hover: var(--color-item-hover);
 --color-skin-sidebar-selected: var(--color-bg-sidebar-selected);
 --color-skin-text-inverted: var(--color-text-inverted);
 --color-skin-text-accent: var(--color-text-accent);
 --color-skin-border: var(--color-border);
 --color-skin-border-dark: var(--color-border-dark);
 --color-skin-text-selected: var(--color-text-selected);
 --color-skin-display: var(--color-bg-display);
 --color-skin-table-row: var(--color-bg-table-row);
 --color-skin-table-row-hover: var(--color-bg-table-row-hover);
 --color-skin-table-header: var(--color-bg-table-header);
 --color-skin-border-light: var(--color-border-light);
}
:root {
  
  /* Color Palette */
  --color-bg-main: #f8f5f2;
  --color-bg-sidebar: #fffbf5;
  --color-bg-sidebar-header: #fffbf5;
  --color-bg-header: #8b4513;
  --color-bg-header-accent: #6e360f;
  --color-bg-header-border: #5d2e0c;
  --color-bg-display: #f8f5f2;
  --color-bg-sidebar-selected: #8b4513;

  --color-bg-table-row: #f8f5f2;
  --color-bg-table-row-hover: #f0ece6;
  --color-bg-table-header: #f0ece6;
  --color-border-light: #e5e0d8;

  --color-text-main: #2c1810;
  --color-text-inverted: #f8f5f2;
  --color-text-accent: #e6c288;
  --color-text-selected: #ffee00;

  --color-border: #d3c4b1;
  --color-border-dark: #5d2e0c;

  --color-item-hover: #cc530d;
  --color-item-selected: #8b4513;

  background-color: var(--color-bg-main);
  color: var(--color-text-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.dark {
  color-scheme: dark;

  --color-bg-main: #000000;
  --color-bg-sidebar: #241d18;
  --color-bg-sidebar-header: #241d18;
  --color-bg-header: #790000;
  --color-bg-header-accent: #8f3e00;
  --color-bg-header-border: #2a1506;

  --color-bg-display: #000000;

  --color-bg-table-row: #444138;
  --color-bg-table-row-hover: #2d241d;
  --color-bg-table-header: #2d241d;
  --color-border-light: #3d2b1f;

  --color-text-main: #ffffff;
  --color-text-inverted: #1a1512;
  --color-text-accent: #e6c288;

  --color-border: #3d2b1f;
  --color-border-dark: #2a1506;

  --color-item-hover: #d0ff00;
  --color-item-selected: #4a250a;
  background-color: var(--color-bg-main);
  color: var(--color-text-main);}

.star {
  box-shadow: 0 0 5px 1px white;
}

.slider-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    radial-gradient(1px 1px at 10px 10px, white, transparent),
    radial-gradient(1px 1px at 30px 5px, white, transparent),
    radial-gradient(1px 1px at 50px 15px, white, transparent);
  opacity: 0;
  transition: opacity 0.5s;
}

.peer:checked ~ .slider-wrapper::before {
  opacity: 0.3;
}

