@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  /* Color Palette */
  --color-bg-main: #000000;
  --color-bg-sidebar: #553301;
  --color-bg-header: #8b4513;
  --color-bg-header-accent: #6e360f;
  --color-bg-header-border: #5d2e0c;

  --color-text-main: #2c1810;
  --color-text-inverted: #f8f5f2;
  --color-text-accent: #e6c288;

  --color-border: #d3c4b1;
  --color-border-dark: #5d2e0c;

  --color-item-hover: #e6dbcf;
  --color-item-selected: #8b4513;

  background-color: var(--color-bg-main);
  color: var(--color-text-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.dark {
  color-scheme: dark;
  --color-bg-main: #000000;
  --color-bg-sidebar: #241d18;
  --color-bg-header: #205009;
  --color-bg-header-accent: #8f3e00;
  --color-bg-header-border: #2a1506;
  --color-text-main: #e6dbcf;
  --color-text-inverted: #1a1512;
  --color-text-accent: #e6c288;
  --color-border: #3d2b1f;
  --color-border-dark: #2a1506;
  --color-item-hover: #2d241d;
  --color-item-selected: #4a250a;
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
}


